        /* di bawah ini adalah css dari footer */
        footer{
            background-color: whitesmoke;
            margin-top: 85px;
            
        }
        .isi-footer{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gray;
            padding-bottom: 118px;
            padding-left: 73px;
            padding-right: 130px;
            
            
        }
        .isi-footer ul li {
       font-size: 12px;
       list-style-type: none;
       padding: 5px 0;






      }
      .seting-atas-footer{
        display: flex;
        padding-top: 120px;
        padding-bottom: 73px;
        padding-left: 72px;
        
      }
      .seting-atas-footer-kiri{
        display: flex;
      }
      .seting-atas-footer-kanan-border{
        margin-left: 285px;
        margin-top: -19px;
        font-weight: bold;
      }
      .logo-footer-contact{
        margin-top: -16px;
      }













      .footer-bagian-paling-bawah{
        padding-top: 38px;
        position: relative;
        text-align: center;

      }
      .contact333{
        display: flex;
        margin-right: 40px;
        margin-left: 650px;  
        padding-top: 50px;  
        padding-bottom: 38px; 
      }
      .contact333 h4 {
        margin-right: 16px;
     }
     .contact444{
        display: flex;
        margin-left: 590px;  
        
     }
     .contact444 p{
        margin-right: 16px;
        border-left: 1px solid black;
        padding-left: 30px;
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 20px;
     }